body {
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #353540;
    /* padding: 20px; */
}

main {
    text-align: center;
}

section {
    display: block;
    background-color: #353535;
    padding: 15px;
    border-right: 3px solid #505050;
    border-bottom: 3px solid #505050;
    border-top: 3px solid #202020;
    border-left: 3px solid #202020;
    text-align: center;
}

button {
    margin-top: 10px;
    background-color: #353535;
    border-left: 3px solid #505050;
    border-top: 3px solid #505050;
    border-right: 3px solid #202020;
    border-bottom: 3px solid #202020;
    color: #E0D0D0;
    font-size: 15px;
    font-family: 'Quicksand', sans-serif;
    outline: none;
}

button:active {
    border-right: 3px solid #505050;
    border-bottom: 3px solid #505050;
    border-left: 3px solid #202020;
    border-top: 3px solid #202020; 
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #E0D0D0;
}

h1, h2 {
    color: #E0D0D0;

}

h2 {
    margin-bottom: 0;
    margin-top: 0;
}

h3 {
    font-size: 35px;
    color: #E0D0D0;
    margin: 5px 0 10px 0;
    background-color: #353535;
}

img {
    height: 100%;
    width: 100%;
}

input {
    width: 50px;
}

#board {
    display: flex;
    background: gray;
    flex-wrap: wrap;
    border-top: 3px solid #202020;
    border-left: 3px solid #202020;
    border-right: 3px solid #505050;
    border-bottom: 3px solid #505050;
}

#board-header {
    background: #353535;
    border-right: 3px solid #505050;
    border-bottom: 3px solid #505050;
    border-top: 3px solid #202020;
    border-left: 3px solid #202020;
    height: 45px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


.cell {
    box-sizing: border-box;
    height: 25px;
    width: 25px;
    background: #353535;
    border-left: 3px solid #505050;
    border-top: 3px solid #505050;
    border-right: 3px solid #202020;
    border-bottom: 3px solid #202020;
    text-align: center;
}

.cell:active {
    border-right: 3px solid #505050;
    border-bottom: 3px solid #505050;
    border-left: 3px solid #202020;
    border-top: 3px solid #202020; 
}

.clicked {
    border: 1px solid #202020;
    font-size: 18px;
}

#container {
    background: #353535;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-left: 3px solid #505050;
    border-top: 3px solid #505050;
    border-right: 3px solid #202020;
    border-bottom: 3px solid #202020;
}

#custom-board {
    display: none;
}

.flagged {
    background: url('../Images/Flag-Cell.png'); 
    background-size: 100%;
}

#flag-count {
    font-family: 'Courier Prime', monospace;
    font-size: 25px;
    color: #B0B0B0;
    margin: 0 0 0 10px;  
}

#flag-section {
    display: flex;
    flex-direction: row;
    margin-left: 5px;
}

.mine {
    background: url('../Images/Mine-01.png');
    background-size: 100%;
    border-left: 3px solid #905050;
    border-top: 3px solid #905050;
    border-right: 3px solid #602020;
    border-bottom: 3px solid #602020;
}

.radio {
    flex-direction: row;
    align-items: center;

}

#section-container {
    background-color: #353535;
    padding: 10px;
    border-left: 3px solid #505050;
    border-top: 3px solid #505050;
    border-right: 3px solid #202020;
    border-bottom: 3px solid #202020;
    margin-top: 80px;
}

.select > input {
    width: 10px;
}

.select {
    margin: 15px;
}

.selected {
    border-top: 3px solid #202020;
    border-left: 3px solid #202020;
    border-right: 3px solid #505050;
    border-bottom: 3px solid #505050;
}

#submit {
    width: 100px;
    margin-top: 10px;
}

#timer {
    font-family: 'Courier Prime', monospace;
    font-size: 25px;
    color: #FF5050;
    margin: 0 10px 0 0;
}

.touch1, #beginner > label {
    color: #AAAAFF;
}

.touch2, #intermediate > label {
    color: #AAFFAA;
}

.touch3, #advanced > label {
    color: #FFAAAA;
}

.touch4 {
    color: #FFAAFF;
}

.touch5 {
    color: #FFFFAA;
}

.touch6 {
    color: #AAFFFF;
}

.touch7 {
    color: #E2B391
}

.touch8 {
    color: #CCCCCC
}